.additional-product {
  padding: 13px 0 19px 0;
}

.additional-product__title {
  font-family: "oswaldregular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.additional-product__inner {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 15px;
}
