.additional-product {
  display: grid;
  padding: 13px 0 18px 0;
  align-items: baseline;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #cdcdcd;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 402px 135px 1fr;
    padding: 25px 38px 28px;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    justify-items: end;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: 1300px) {
    grid-template-columns: 326px 243px 82px 245px;
    padding: 16px 0 15px;
    border-left: none;
    border-top: 1px solid #cdcdcd;
    border-right: none;
  }
}

.additional-product__title {
  font-family: @font-family-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  padding-right: 15px;

  @media (max-width: 767px) {
    grid-column: 1/3;
    margin-bottom: 12px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    justify-self: start;
  }

  @media (min-width: 1300px) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.additional-product__value {
  @media (max-width: 767px) {
    margin-bottom: 12px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 1300px) {
    justify-self: start;
    padding-bottom: 10px;
  }
}

.additional-product__price {
  @media (max-width: 767px) {
    margin-bottom: 11px;
    justify-self: end;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 2px;
  }

  @media (min-width: 1300px) {
    justify-self: start;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-right: 0;
  }
}

.additional-product__link {
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;

  @media (max-width: 767px) {
    grid-column: 1/3;
  }

  @media (min-width: 768px) {
    grid-column: 1/4;
    justify-self: normal;
  }

  @media (min-width: 1300px) {
    grid-column: 4/5;
    padding: 9px 21px 8px;
  }
}

