.advantages {
  background-color: #ffffff;
}

.advantages .advantages__container {
  padding-bottom: 29px;

  @media (min-width: 768px) {
    padding-bottom: 26px;
  }

  @media (min-width: 1300px) {
    padding-bottom: 50px;
  }
}

.advantages__title {
  font-family: @font-family-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  .list-reset();
  display: grid;
  grid-template-columns: 1fr;
  counter-reset: advantage-number;

  @media (min-width: 768px) {
    grid-template-columns: 245px 245px;
    column-gap: 138px;
    row-gap: 17px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 244px 245px 245px 250px;
    column-gap: 80px;
  }
}
