.communication {
  background-color: #f2f2f2;
}

.communication__link-academy-text {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.communication__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px;
  text-align: center;
  background-color: #f2f2f2;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: 1300px) {
    padding: 66px 40px;
  }
}

.communication__list {
  margin: 0;
}

.communication__link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 23px;
}
