.example {
  background-color: #eaeaea;
}

.example__container {
  padding: 25px 20px 40px;
}

.example__title {
  font-family: @font-family-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

.example__number {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}

.example__number-highlight {
  font-family: @font-family-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.example__expenses {
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.example__image {
  min-height: 256px;
}
