.example {
  background-color: #eaeaea;
  max-width: 1300px;
  margin: 0 auto;

  @media (min-width: 768px) {
    background: linear-gradient(180deg, #ffffff, #ffffff 35%, #f2f2f2 35%, #f2f2f2 100%);
  }

  @media (min-width: 1300px) {
    background: linear-gradient(180deg, #ffffff, #ffffff 15%, #f2f2f2 15%, #f2f2f2 100%);
  }
}

.example .example__container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 75px;
  }
}

.example__content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 1fr 1fr;
    width: 436px;
  }
}

.example__title {
  grid-column: 1/3;
  font-family: @font-family-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    grid-column: 1/4;
  }

  @media (min-width: 1300px) {
    grid-column: 1/3;
  }
}

.example__text {
  grid-column: 1/3;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-column: 1/4;
  }

  @media (min-width: 1300px) {
    grid-column: 1/3;
  }
}

.example__number {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  text-align: center;
}

.example__number-highlight {
  font-family: @font-family-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.example__expenses-container {
  display: flex;
  justify-content: center;
  grid-column: 1/3;

  @media (min-width: 768px) {
    flex-direction: column;
    grid-column: 3/4;
  }

  @media (min-width: 1300px) {
    flex-direction: row;
    grid-column: 1/3;
  }
}

.example__expenses {
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.example__image {
  min-height: 256px;
}
