.footer-map {
  text-align: center;
}

.footer-map__image {
  display: block;
  margin: 0 auto;
}

.footer-map__banner {
  @media (min-width: 1300px) {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}
