.form {
  font-family: @font-family-secondary;
}

.form__container {
  display: flex;
  flex-direction: column;
  max-width: 1300px;

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin: 0 auto;
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  position: relative;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  max-width: 100%;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1300px) {
    padding-left: 0;
    padding-right: 0;
  }

  &--questionnaire {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      gap: 14px;
    }

    @media (min-width: 768px) {
      gap: 20px;
      margin-bottom: 72px;
    }

    @media (min-width: 1300px) {
      width: 570px;
    }
  }

  &--programms {
    @media (max-width: 767px) {
      &::before,
      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 26px;
    }

    @media (min-width: 768px) {
      margin-bottom: 65px;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: 1300px) {
      padding-left: 0;
      padding-right: 40px;
      margin-bottom: 70px;
      width: 570px;
    }
  }

  &--contacts {
    position: relative;
    max-width: 1300px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 768px) {
      margin-bottom: 65px;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: 1300px) {
      margin: 0 auto 70px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &--comment {
    position: relative;
    max-width: 1300px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 768px) {
      margin-bottom: 63px;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: 1300px) {
      margin: 0 auto 68px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &--additionally {
    position: relative;
    max-width: 1300px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      margin-bottom: 34px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 768px) {
      margin-bottom: 52px;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: 1300px) {
      margin: 0 auto 60px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.form .form__fieldset--questionnaire {
  @media (max-width: 767px) {
    margin: 0 0 23px 0;
  }

  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 72px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: 1300px) {
    padding-left: 40px;
    padding-right: 0;
    flex-grow: 1;
    width: 610px;
  }
}

.form__inner-container {
  position: relative;
}

.form__inner-container::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;

  @media (max-width: 767px) {
    top: 15px;
  }

  @media (min-width: 768px) {
    top: 21px;
  }
}

.form__fieldset-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--additionally {
    display: grid;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 13px;
    }

    @media (min-width: 768px) {
      grid-template-columns: 343px 284px;
      row-gap: 32px;
    }

    @media (min-width: 1300px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }

  &--programms {
    @media (max-width: 767px) {
      gap: 13px;
      padding: 23px 20px 19px 20px;
      padding-top: 23px;
      padding-bottom: 19px;
    }

    @media (min-width: 768px) {
      gap: 13px;
      padding-top: 23px;
      padding-bottom: 25px;
      padding-left: 26px;
      border: 1px solid #e7e7e7;
    }

    @media (min-width: 1300px) {
      flex-direction: column;
      padding-top: 25px;
      padding-bottom: 24px;
      padding-left: 28px;
    }

    & .form__label {
      gap: 0;
    }
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  position: relative;
  background-color: #ffffff;
  padding-left: 0;

  @media (max-width: 767px) {
    padding-right: 20px;
  }

  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  &--contacts,
  &--comment,
  &--additionally {
    @media (max-width: 767px) {
      margin-bottom: 35px;
      max-width: 187px;
      padding-left: 20px;
      margin-left: -20px;
    }

    @media (min-width: 768px) {
      margin-bottom: 76px;
      max-width: 514px;
      padding-left: 40px;
      margin-left: -40px;
    }

    @media (min-width: 1300px) {
      margin-left: -40px;
      margin-bottom: 74px;
    }
  }

  &--contacts {
    @media (max-width: 767px) {
      margin-bottom: 34px;
    }
  }

  &--comment {
    @media (max-width: 767px) {
      margin-bottom: 37px;
      width: 121px;
    }

    @media (min-width: 768px) {
      margin-bottom: 87px;
      width: 182px;
    }

    @media (min-width: 1300px) {
      margin-bottom: 78px;
    }
  }

  &--additionally {
    width: 141px;

    @media (max-width: 767px) {
      margin-bottom: 34px;
    }

    @media (min-width: 768px) {
      margin-bottom: 58px;
      width: 212px;
    }
  }
}

&--contacts {
  margin-bottom: 35px;
}

&--comment {
  margin-bottom: 38px;
}

&--additionally {
  margin-bottom: 34px;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 13px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }

  &--additionally {
    margin: 0;

    @media (max-width: 767px) {
      padding-left: 45px;
      min-height: 30px;
    }

    @media (min-width: 768px) {
      padding-left: 60px;
      min-height: 40px;
    }
  }
}

.form__label-text {
  @media (max-width: 767px) {
    max-width: 250px;
  }

  @media (min-width: 768px) {
    max-width: 350px;
  }

  @media (min-width: 1300px) {
    max-width: 250px;
  }
}

.form__label-contacts {
  margin: 0;
}

.form__input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  color: #444444;

  @media (max-width: 767px) {
    min-height: 45px;
    padding: 13px 33px 12px 15px;
  }

  @media (min-width: 768px) {
    min-height: 52px;
    padding: 10px 33px 10px 20px;
  }

  &--input-text {
    flex-grow: 1;
  }

  &--input-email,
  &--input-phone {
    width: 100%;

    @media (max-width: 767px) {
      padding: 14px 33px 12px 15px;
    }
  }

  &--comment {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      padding: 14px 14px 14px 15px;
      min-height: 150px;
      width: 100%;
    }

    @media (min-width: 768px) {
      padding: 11px 20px;
      min-height: 175px;
      width: 100%;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: 1300px) {
      padding: 9px 20px;
      min-height: 175px;
    }
  }
}

.form__input--input-text-mass,
.form__input--input-text-age {
  appearance: textfield;
}

.form__input--input-text-mass::-webkit-outer-spin-button,
.form__input--input-text-mass::-webkit-inner-spin-button,
.form__input--input-text-age::-webkit-outer-spin-button,
.form__input--input-text-age::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__input--input-text-age {
  width: 94px;
}

.form__input:hover {
  border: 1px solid #cdcdcd;
}

.form__input:focus-visible {
  border: 2px solid #444444;

  @media (max-width: 767px) {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 14px;
  }

  @media (min-width: 768px) {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
  }
}

.form__input--input-email:focus-visible,
.form__input--input-phone:focus-visible {
  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 11px;
  }
}

.form__input--comment:focus-visible {
  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
  }

  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
  }

  @media (min-width: 1300px) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 19px;
  }
}

.form__input-error {
  border: 2px solid #ff8282;
}

.form__contacts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20px;
  }
}

.form__contacts-container-inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 13px;

  @media (max-width: 767px) {
    margin-bottom: 14px;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1300px) {
    margin-bottom: 0;
  }

  &--email {
    @media (min-width: 1300px) {
      max-width: 569px;
      min-width: 560px;
    }
  }

  &--phone {
    @media (min-width: 1300px) {
      max-width: 572px;
      min-width: 570px;
      gap: 17px;
    }
  }
}

.form__input-container {
  position: relative;
  flex-grow: 1;
}

.form__input-container--email::after {
  position: absolute;
  top: 19px;
  right: 17px;
  left: auto;
  content: "";
  height: 13px;
  width: 17px;
  mask-image: url("../img/sprite.svg#form-email-icon");
  mask-repeat: no-repeat;
  mask-position: top left;
  background-color: #000000;
}

.form__input-container--phone::after {
  position: absolute;
  top: 19px;
  right: 17px;
  left: auto;
  content: "";
  height: 15px;
  width: 15px;
  mask-image: url("../img/sprite.svg#form-phone-icon");
  mask-repeat: no-repeat;
  mask-position: top left;
  background-color: #000000;
}

.form__input-programm-mark {
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (max-width: 767px) {
    margin-right: 15px;
    height: 28px;
    width: 28px;
  }

  @media (min-width: 768px) {
    margin-right: 20px;
    height: 38px;
    width: 38px;
  }
}

.form__input[type="radio"]:disabled + .form__input-programm-mark,
.form__input[type="radio"]:disabled ~ .form__label-text {
  opacity: 0.3;
}

.form__input[type="radio"]:checked + .form__input-programm-mark {
  background-color: #68b738;

  @media (max-width: 767px) {
    box-shadow: inset 0 0 0 7px #ffffff;
  }

  @media (min-width: 768px) {
    box-shadow: inset 0 0 0 10px #ffffff;
  }
}

.form__input[type="radio"]:hover + .form__input-programm-mark {
  border: 1px solid #bababa;
}

.form__input[type="radio"]:focus-visible + .form__input-programm-mark {
  border: 1px solid #000000;
}

.form__input[type="radio"]:focus-visible ~ .form__label-text {
  color: #000000;
}

.form__additionally-container {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 767px) {
    column-gap: 25px;
  }

  @media (min-width: 768px) {
    row-gap: 42px;
  }
}

.form__input-additionally-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  z-index: -1;

  @media (max-width: 767px) {
    margin-right: 15px;
    height: 30px;
    width: 30px;
  }

  @media (min-width: 768px) {
    margin-right: 20px;
    height: 40px;
    width: 40px;
  }
}

.form__input-additionally-mark::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    height: 14px;
    width: 18px;
  }

  @media (min-width: 768px) {
    height: 19px;
    width: 24px;
  }
}

.form__input[type="checkbox"]:checked + .form__input-additionally-mark::after {
  mask-image: url("../img/sprite.svg#additionally-form-mark");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #68b738;
}

.form__input[type="checkbox"]:hover + .form__input-additionally-mark {
  border: 1px solid #bababa;
}

.form__input[type="checkbox"]:focus-visible + .form__input-additionally-mark {
  border: 1px solid #000000;
}

.form__input[type="checkbox"]:focus-visible ~ .form__label {
  color: #000000;
}

.form__input[type="checkbox"]:disabled + .form__input-additionally-mark,
.form__input[type="checkbox"]:disabled ~ .form__label--additionally {
  opacity: 0.3;
}


.form .form__container-button {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 64px;
    margin-bottom: 60px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: 1300px) {
    gap: 80px;
    margin-bottom: 79px;
    padding-left: 40px;
    padding-right: 40px;
  }

  & .button {
    @media (min-width: 768px) {
      width: 284px;
    }

    @media (min-width: 1300px) {
      width: 570px;
    }
  }
}
