.form {
  font-family: @font-family-secondary;
}

.form__fieldset {
  display: flex;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: none;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  max-width: 100%;

  &--additionally {
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 123px;
    }
  }

  @media (min-width: 1300px) {
    flex-direction: row;
    gap: 80px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  &--contacts {
    padding-bottom: 35px;
  }

  &--comment {
    padding-bottom: 38px;
  }

  &--additionally {
    padding-bottom: 34px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;

  & .form__fieldset {
    @media (min-width: 1300px) {
      flex-direction: column;
      gap: 0;
      width: 570px;
    }
  }

  @media (min-width: 1300px) {
    flex-direction: row;
    gap: 80px;
  }
}

.form__label {
  display: flex;
}

.form__input {
  margin-bottom: 20px;

  &--input-text {
    flex-grow: 1;
  }
}

.form__container-button {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: 1300px) {
    gap: 80px;
  }

  & .button {
    @media (min-width: 768px) {
      width: 284px;
    }

    @media (min-width: 1300px) {
      width: 570px;
    }
  }
}
