.hero {
  background-color: #ffffff;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-image: url("../img/hero-background-cat.jpg"), linear-gradient(180deg, #64a83b 60.5%, #ffffff 60.5%);
    background-size: 320px 301px, 100%;
    background-position: top center;
    min-height: 480px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-background-cat@2x.jpg"), linear-gradient(180deg, #64a83b 60.5%, #ffffff 60.5%);
      background-size: 320px 301px, 100%;
    }
  }
}

.hero .hero__container {
  position: relative;
  padding-bottom: 20px;
  padding-top: 27px;
  min-height: 480px;
  font-family: @font-family-secondary;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  z-index: 0;

  @media (min-width: 768px) {
    padding: 51px 200px 0 120px;
    min-height: 860px;
    color: #000000;
    text-align: left;
  }

  @media (min-width: 1300px) {
    padding: 95px 726px 184px 120px;
    min-height: 646px;
    z-index: 2;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
  margin-bottom: -4px;

  @media (min-width: 768px) {
    position: absolute;
    top: 251px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: 1300px) {
    top: 14px;
    right: 261px;
    transform: none;
    left: auto;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 52px;
  }
}

.hero__link {
  display: inline-block;
  padding: 10px 63px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: 768px) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
