.main-page .main-page__container {
  background-color: transparent;
  padding-top: 27px;
  padding-bottom: 35px;

  &--form {
    padding-bottom: 32px;

    @media (min-width: 768px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.main-page__title {
  margin: 0;
  margin-bottom: 41px;
  font-family: @font-family-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  &--catalog {
    @media (max-width: 767px) {
      margin-left: 20px;
    }
  }

  &--form {
    margin-bottom: 37px;

    @media (min-width: 768px) {
      margin-bottom: 54px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-page__list {
  .list-reset();
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 245px);
    gap: 80px 63px;
  }
}

.main-page__text {
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (max-width: 767px) {
    padding-right: 54px;
  }

  @media (min-width: 768px) {
    margin-bottom: 66px;
    padding-right: 345px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1300px) {
    padding-right: 897px;
  }
}

.main-page__footnote {
  font-family: @font-family-base;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}
