.main-nav {
  font-family: @font-family-secondary;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1300px) {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-nav__toggle {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  display: none;
  .list-reset();
  max-width: 460px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (min-width: 1300px) {
    max-width: 500px;
  }
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  text-decoration: none;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 10px;
  }

  &--color-light {
    @media (min-width: 1300px) {
      color: #ffffff;
    }
  }
}
