.main-page .main-page__container {
  background-color: transparent;
  padding-top: 27px;

  @media (min-width: 768px) {
    padding-top: 0;
  }

  &--catalog {
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.main-page__title {
  margin: 0 auto;
  margin-bottom: 39px;
  font-family: @font-family-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  max-width: 1300px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-bottom: 55px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1300px) {
    padding-left: 0;
    padding-right: 0;
  }

  &--catalog {
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 84px;
    }

    @media (min-width: 1300px) {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 83px;
    }
  }

  &--form {
    margin-bottom: 37px;

    @media (min-width: 768px) {
      margin-bottom: 55px;
    }
  }
}

.main-page__list {
  .list-reset();
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 324px);
    gap: 59px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 245px);
    gap: 62px 80px;
  }
}

.main-page__item {
  position: relative;
  justify-self: center;
}

.main-page__text {
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 38px;

  @media (max-width: 767px) {
    padding-right: 54px;
  }

  @media (min-width: 768px) {
    margin-bottom: 66px;
    padding-right: 345px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 65px;
    padding-right: 830px;
    padding-left: 0;
  }
}

.main-page__footnote {
  font-family: @font-family-base;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0;

  @media (max-width: 767px) {
    margin-bottom: 32px;
    padding: 0 40px 0 67px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 2px;
  }

  @media (min-width: 1300px) {
    padding-left: 4px;
    margin-bottom: 2px;
  }
}

.main-page__button {
  @media (max-width: 767px) {
    padding: 10px;
  }

  @media (min-width: 768px) {
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }
}

.main-page__example {
  margin: 0 auto;
  position: relative;
}

.main-page__hero {
  position: relative;
}
