.page .page__header {
  @media (max-width: 767px) {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 29px;
  }
}
