.product-card {
  position: relative;
  justify-self: center;
  min-height: 209px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #ebebeb;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
  }

  @media (min-width: 768px) {
    padding: 242px 37px 40px;
    min-height: 511px;
    width: 324px;
    background: linear-gradient(180deg, #ffffff, #ffffff 16%, #f2f2f2 16%, #f2f2f2 100%);
  }

  @media (min-width: 1300px) {
    padding: 232px 38px 40px;
    min-height: 511px;
    width: 245px;
  }

  &--more-products {
    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      height: 2px;
      background-color: #d3d3d3;
    }

    &::before {
      transform: translateX(-50%);
    }

    &::after {
      transform: translateX(-50%) rotate(90deg);
    }

    @media (max-width: 767px) {
      padding-top: 78px;

      &::before,
      &::after {
        top: 39px;
        width: 30px;
      }
    }

    @media (min-width: 768px) {
      min-height: 429px;
      align-self: end;
      background: none;
      padding-top: 162px;
      padding-bottom: 38px;
      border: 2px solid #f2f2f2;

      &::before,
      &::after {
        top: 80px;
        width: 60px;
      }
    }

    @media (min-width: 1300px) {
      min-height: 431px;
      padding-top: 147px;
      padding-bottom: 39px;

      &::before,
      &::after {
        top: 78px;
      }
    }
  }
}

.product-card__container {
  @media (max-width: 767px) {
    position: relative;
    padding-left: 50%;
  }
}

.product-card__image {
  position: absolute;

  &--small {
    @media (max-width: 767px) {
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: 768px) {
      top: 29px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--large {
    @media (max-width: 767px) {
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: 768px) {
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1300px) {
      top: 17px;
    }
  }
}

.product-card__title {
  font-family: @font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;

  &--dark {
    color: #111111;
  }

  @media (max-width: 767px) {
    margin-bottom: 14px;
    padding-right: 42px;
    text-align: left;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 0 55px 0 52px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 23px;
    padding: 1px 11px 1px 10px;
  }

  &--more-products {
    @media (max-width: 767px) {
      padding-left: 38px;
      padding-right: 38px;
      text-align: center;
      margin-bottom: 8px;
    }

    @media (min-width: 768px) {
      margin-bottom: 22px;
      padding-left: 56px;
      padding-right: 56px;
    }

    @media (min-width: 1300px) {
      margin-bottom: 25px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.product-card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;

  @media (max-width: 767px) {
    margin-bottom: 21px;
  }

  @media (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
    row-gap: 6px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 32px;
  }
}

.product-card__link-order,
.product-card__link-more {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
}

.product-card__item-description {
  margin: 0;
  text-align: right;
  width: 100%;
}

.product-card__item-description,
.product-card__item-term {
  @media (min-width: 768px) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
  }
}

.product-card__item-term {
  padding-right: 5px;
}

.product-card__item-description:last-child {
  @media (min-width: 1300px) {
    padding-bottom: 10px;
  }
}

.product-card__content {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-bottom: 21px;
  }

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 81px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  @media (min-width: 1300px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 90px;
  }
}

.product-card__link {
  display: block;
  text-align: center;
  text-decoration: none;
}

