.product-card {
  justify-self: center;
  padding: 20px 0 25px 0;
  width: 280px;

  @media (min-width: 768px) {
    width: 324px;
  }

  @media (min-width: 1300px) {
    width: 245px;
  }
}

.product-card__title {
  font-family: @font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;

  &--dark {
    color: #111111;
  }
}

.product-card__list {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.product-card__content {
  font-size: 12px;
  line-height: 16px;
}
