.programms {
  background-color: #ffffff;
}

.programms .programms__container {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 45px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 71px;
  }
}

.programms__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 30px;
  }

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
  }
}
