.programm {
  padding: 30px 33px 18px 20px;
  background-color: #d9d9d9;
  font-family: "oswaldregular", sans-serif;
  font-weight: 400;
  color: #000000;
}

.programm__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "oswaldregular", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programm__inner {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.programm__link {
  font-family: "oswaldregular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
